# Data Preprocessing

The goal of this lab is to introduce you to data preprocessing techniques in order to make your data suitable for applying a learning algorithm.

## 1. Handling Missing Values

A common (and very unfortunate) data property is the ocurrence of missing and erroneous values in multiple features in datasets. For this exercise we will be using a data set about abalone snails.
The data set is contained in the Zip file you downloaded from Moodle `abalone.csv`.

To determine the age of a abalone snail you have to kill the snail and count the annual
rings. You are told to estimate the age of a snail on the basis of the following attributes:
1. type: male (0), female (1) and infant (2)
2. length in mm
3. width in mm
4. height in mm
5. total weight in grams
6. weight of the meat in grams
7. drained weight in grams
8. weight of the shell in grams
9. number of annual rings (number of rings +1, 5 yields age)

However, the data is incomplete. Missing values are marked with −1.

In [2]:
import pandas as pd
# load data 
df = pd.read_csv("abalone.csv") #Should this not work please use the csv that was part of the zip file.
df.columns=['type','length','width','height','total_weight','meat_weight','drained_weight','shell_weight','num_rings']
df.tail()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
4171,1,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4172,0,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4173,0,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4174,1,0.625,0.485,0.150,-1.0000,0.5310,0.2610,0.2960,10
4175,0,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

### Exercise 1.1

Compute the mean of of each numeric column and the counts of each categorical column, excluding the missing values.

In [3]:
##################
#INSERT CODE HERE#
##################
#print(df.describe())
for column in df.columns:
    if column != 'type':
        print(f"The column {column}:")
        print('mean:')
        print(df[df[column] != -1][column].mean())
        print('counts:')
        print(df[df[column] != -1][column].count())
        print('')
#df[df['length'] != -1]['length'].mean()

The column length:
mean:
0.5236920039486673
counts:
4052

The column width:
mean:
0.40795533070088846
counts:
4052

The column height:
mean:
0.1396100691016782
counts:
4052

The column total_weight:
mean:
0.8288428746928747
counts:
4070

The column meat_weight:
mean:
0.35926265119723527
counts:
4051

The column drained_weight:
mean:
0.1802485861814605
counts:
4067

The column shell_weight:
mean:
0.23860444280805104
counts:
4074

The column num_rings:
mean:
9.921756193279371
counts:
4077

### Exercise 1.2

Compute the median of each numeric column,  excluding the missing values.

In [4]:
##################
#INSERT CODE HERE#
##################
for column in df.columns:
    if column != 'type':
        print(f"The column {column}:")
        print('median:')
        print(df[df[column] != -1][column].median())
        print('')

The column length:
median:
0.545

The column width:
median:
0.425

The column height:
median:
0.14

The column total_weight:
median:
0.80175

The column meat_weight:
median:
0.336

The column drained_weight:
median:
0.1705

The column shell_weight:
median:
0.2335

The column num_rings:
median:
9.0

### Exercise 1.3

Handle the missing values in a way that you find suitable. Think about different ways. Discuss dis-/advantages of your approach. Argue your choices.
streichen von entweder Spalte oder Zeile
oder lineare Regression
oder die Werte mit den Mittelwert ersetzen von den jeweiligen Klassen

In [ ]:
##################
#INSERT CODE HERE#
##################

### Exercise 1.4

Perform Z-score normalization on every column (except the type of course!)

$$
\begin{align}
{\color{Lavender}x}^{\text{new}} = \frac{{\color{Lavender}x}-{\color{CornflowerBlue}\mu}_{\color{VioletRed}x}}{{\color{CornflowerBlue}\sigma}_{\color{VioletRed}x}}
\end{align}
$$

In [5]:
##################
#INSERT CODE HERE#
##################
#df['length'][1]
df_copy = df.copy()
for i in df:
    df_mean=df[df[column] != -1][column].mean()
    df_var=df[df[column] != -1][column].var()
    if i != 'type':
        df[i]=(df[i]-df_mean)/(df_var)
#for column in df.columns:
    #df_mean=df[df[column] != -1][column].mean()
    #df_var=df[df[column] != -1][column].var()
    #if column != 'type':
        #df_copy[column].map(lambda x: (x-df_mean)/(df_var))
        #df_copy[df[column] != -1][column].map(lambda x: x*x)
        #df_copy.map(lambda x: x**3)
        #print(df_mean)
#df_copy.map(lambda x: x*0, na_action='ignore')
print(df_copy[df_copy != -1].head())

   type  length  width  height  total_weight  meat_weight  drained_weight  \
0   0.0   0.350  0.265   0.090        0.2255       0.0995          0.0485
1   1.0   0.530  0.420   0.135        0.6770       0.2565          0.1415
2   0.0   0.440  0.365   0.125        0.5160       0.2155          0.1140
3   2.0     NaN  0.255   0.080        0.2050       0.0895          0.0395
4   2.0   0.425  0.300   0.095        0.3515       0.1410          0.0775

   shell_weight  num_rings
0         0.070        NaN
1         0.210        9.0
2         0.155       10.0
3         0.055        7.0
4         0.120        8.0

In [23]:
df[df_copy != -1].head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0.0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,NaN
1,1.0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9.0
2,0.0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10.0
3,2.0,NaN,0.255,0.080,0.2050,0.0895,0.0395,0.055,7.0
4,2.0,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8.0

In [14]:
test = pd.DataFrame([[1, 2.12], [3.356, 4.567]])
test.columns=['A','B']
test

       A      B
0  1.000  2.120
1  3.356  4.567

In [15]:
test.map(lambda x: x*x)

           A          B
0   1.000000   4.494400
1  11.262736  20.857489

## 2. Preprocessing text (Optional)

One possible way to transform text documents into vectors of numeric attributes is to use the TF-IDF representation. We will experiment with this representation using the 20 Newsgroup data set. The data set contains postings on 20 different topics. The classification problem is to decide which of the topics a posting falls into. Here, we will only consider postings about medicine and space.

In [1]:
from sklearn.datasets import fetch_20newsgroups


categories = ['sci.med', 'sci.space']
raw_data = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)
print(f'The index of each category is: {[(i,target) for i,target in enumerate(raw_data.target_names)]}')

The index of each category is: [(0, 'sci.med'), (1, 'sci.space')]

Check out some of the postings, might find some funny ones!

In [3]:
import numpy as np
idx = np.random.randint(0, len(raw_data.data))
print (f'This is a {raw_data.target_names[raw_data.target[idx]]} email.\n')
print (f'There are {len(raw_data.data)} emails.\n')
print(raw_data.data[idx])

This is a sci.med email.

There are 1187 emails.

From: nyeda@cnsvax.uwec.edu (David Nye)
Subject: Re: Migraines and scans
Organization: University of Wisconsin Eau Claire
Lines: 16

[reply to geb@cs.pitt.edu (Gordon Banks)]

>>If you can get away without ever ordering imaging for a patient with
>>an obviously benign headache syndrome, I'd like to hear what your magic
>>is.

>I certainly can't always avoid it (unless I want to be rude, I suppose).

I made a decision a while back that I will not be bullied into getting
studies like a CT or MRI when I don't think they are indicated.  If the
patient won't accept my explanation of why I think the study would be a
waste of time and money, I suggest a second opinion.

David Nye (nyeda@cnsvax.uwec.edu).  Midelfort Clinic, Eau Claire WI
This is patently absurd; but whoever wishes to become a philosopher
must learn not to be frightened by absurdities. -- Bertrand Russell

Lets pick the first 10 postings from each category

In [ ]:
idxs_med = np.flatnonzero(raw_data.target == 0)
idxs_space = np.flatnonzero(raw_data.target == 1)
idxs = np.concatenate([idxs_med[:10],idxs_space[:10]])
data = np.array(raw_data.data)
data = data[idxs]

<a href="http://www.nltk.org/">NLTK</a> is a toolkit for natural language processing. Take some time to install it and go through this <a href="http://www.slideshare.net/japerk/nltk-in-20-minutes">short tutorial/presentation</a>. (or use e.g. Google colab where the package is prepared already)

The downloaded package below is a tokenizer that divides a text into a list of sentences, by using an unsupervised algorithm to build a model for abbreviation words, collocations, and words that start sentences.

In [ ]:
import nltk
import itertools
nltk.download('punkt')

# Tokenize the sentences into words
tokenized_sentences = [nltk.word_tokenize(sent) for sent in data]
vocabulary_size = 1000
unknown_token = 'unknown'

In [ ]:
# Count the word frequencies
word_freq = nltk.FreqDist(itertools.chain(*tokenized_sentences))
print (f"Found {len(word_freq.items())} unique words tokens.")

In [ ]:
# Get the most common words and build index_to_word and word_to_index vectors
vocab = word_freq.most_common(vocabulary_size-1)
index_to_word = [x[0] for x in vocab]
index_to_word.append(unknown_token)
word_to_index = dict([(w,i) for i,w in enumerate(index_to_word)])
 
print (f"Using vocabulary size {vocabulary_size}." )
print (f"The least frequent word in our vocabulary is '{vocab[-1][0]}' and appeared {vocab[-1][1]} times.")

### Exercise 2.1

Code your own TF-IDF representation function and use it on this dataset. (Don't use code from libraries. Build your own function with Numpy/Pandas). Use the formular TFIDF = TF * (IDF+1). The effect of adding “1” to the idf in the equation above is that terms with zero idf, i.e., terms that occur in all documents in a training set, will not be entirely ignored. The term frequency is the raw count of a term in a document. The inverse document frequency is the natural logarithm of the inverse fraction of the documents that contain the word.

Für die Berechnung der Ähnlichkeit wird aus dem tfidf Array aus jeder Spalte ein Vektor gemacht und die Vektoren werden mittels skalarprodukt bzw Winkelberechnung voneinander unterschieden. Je größer der Winkel desto größer der Unterschied

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
countvec = CountVectorizer()
df = pd.DataFrame(countvec.fit_transform(data).toarray(), columns=countvec.get_feature_names_out())

def tfidf(df):
    
    ##################
    #INSERT CODE HERE#
    ##################
    return None
    
    
rep = tfidf(df)

# Check if your implementation is correct
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(norm=None, smooth_idf=False, use_idf=True)
X_train = pd.DataFrame(vectorizer.fit_transform(data).toarray(), columns=countvec.get_feature_names_out())
answer=['No','Yes']
epsilon = 0.0001
if rep is None: 
  print (f'Is this implementation correct?\nAnswer: {answer[0]}')
if rep is not None:
  print (f'Is this implementation correct?\nAnswer: {answer[1*np.all((X_train - rep) < epsilon)]}')

In [ ]:
# an example of what to do with these similarities:


# analysis with tf-idf
from sklearn.metrics.pairwise import cosine_similarity

similiarities = cosine_similarity(rep, rep) # measure of the similarity of the direction of two vectors

In [ ]:
np.fill_diagonal(similiarities, 0)
max_ind = np.unravel_index(similiarities.argmax(), similiarities.shape)
similiarities[max_ind] # highest similarity of two documents